<!-- Fixed navbar -->

          <!-- LINK MENUJU table, dan link menuju home#form -->
<li class="nav-item active">
    <a class="nav-link" href="{% url 'lab-4:index' %}">My Resume </a>
</li>
<li class="nav-item"><a class="nav-link" href="{% url 'lab-4:index' %}#form"> Form </a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'lab-4:result_table' %}"> Messages Table </a> </li>
