body{
    margin:0px;
    padding:0px;
    font-size: 1em;
    background: #DAFCFB;
}

#nama{
	border:2px solid black;
	padding-left:2px;
	padding-right:2px;
    float:left;
	margin-top:4px;
	margin-right:8px;
	font-family: 'Pacifico', cursive;
}

.nav {
    font-family: 'Pacifico', cursive;
}

#nama:link{
    color: black;
}

#nama:active{
    color:black;
}

#nama:visited{
    color:black;
}

#hero{
    height: 570px;
    background-attachment: scroll;
    position: relative;
    text-align: center;
    color: white;
}

#profpict{
    padding-top:150px;
}

.feed{
    border: 3px solid #224D59;
    margin-left: 15px;
    margin-right: 15px; 
    padding: 5px;
}


.login{
    margin:200px;
}

textarea{
    width: 200px !important;
    align-content: center !important;
    margin-left: auto;
    margin-right: auto;
}

#post{
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;

}

#log{
    cursor: pointer;
}