body{
    margin:0px;
    padding:0px;
    font-size: 1em;
    background: #DAFCFB;
}

#hero{
    height: 570px;
    background-attachment: scroll;
    position: relative;
    text-align: center;
    color: white;
}

#profpict{
    padding-top:150px;
}

.feed{
    border: 3px solid #224D59;
    margin-left: 15px;
    margin-right: 15px; 
    padding: 5px;
}

input{
    width: 500px;
    align-content: center;
}

.login{
    margin:200px;
}