{% extends 'base.html' %}

{% block title %}
Hello, Django!
{% endblock %}


{% block header %}
{% include 'partials/header.html' %}
{% endblock %}

{% block content %}
    <h1>Hello my name is {{ name }}</h1>
    <article>I am {{ age }} years old</article>
{% endblock %}