   <!-- LINK MENUJU table, dan link menuju home#form -->
        <li class="nav-item"><a class="nav-link" href="/lab-7/#mahasiswa-list">Fasilkom's Student</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'lab-7:get-friend-list' %}">My Friend List</a> </li>
     