{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
MoDB
{% endblock %}

{% block css %}
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <style>
        .rata-tengah {
            text-align: center;
            margin : 20px;
        }
        .judul {
            text-transform:uppercase;
            margin-bottom: 50px;
            margin-top: 50px;
        }
        #content{
            padding-top:30px;
        }
    </style>
{% endblock %}

{% block header %}
{% include 'partials/header.html' with headerlist_left='lab_10/partials/header_left.html' headerlist_right='lab_10/partials/header_right.html' %}
{% endblock %}

{% block content %}
<content>
    <div class="container">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        {% block content_lab10 %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
</content>
{% endblock %}

{% block script %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
{% endblock %}
