{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Fasilkom Friends
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lab_7.css' %}" />
{% endblock %}

{% block header %}
{% include 'partials/header.html' with headerlist_left='lab_7/partials/header.html' %}
{% endblock %}

{% block content %}
<section name="mahasiswa-list" id="mahasiswa-list">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <h2> Mahasiswa Fasilkom</h2>
                <div class="list-group">
                    {% if mahasiswa_list %}
                        {% for mahasiswa in mhss %}
                            <span class="list-group-item clearfix">
                                {{ mahasiswa.nama }} ({{ mahasiswa.npm }})
                                <span class="float-xs-right">
                                    <span class="btn btn-xs btn-outline-dark" onClick="addFriendFromList('{{ mahasiswa.nama }}', '{{ mahasiswa.npm }}',' {{mahasiswa.alamat_mhs}} ',' {{mahasiswa.tgl_lahir}} ','{{ mahasiswa.program.0.nm_org }}',' {{mahasiswa.program.0.angkatan}} ' )">
                                        Tambah sebagai teman
                                    </span>
                                </span>
                            </span>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada mahasiswa
                        </div>
                    {% endif %}
                </div>
                <div class="pagination" style="align-self:center">
                    <span class="step-links" >
                        {% if mhss.has_previous %}
                            <a type="button" class="btn btn-primary btn-sm" href="?page={{ mhss.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ mhss.number }} of {{ mhss.paginator.num_pages }}
                        </span>
                
                        {% if mhss.has_next %}
                            <a type="button" class="btn btn-primary btn-sm" href="?page={{ mhss.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
                {% if auth %}
                    <div id="token" hidden="true">{{ auth.access_token }}</div>
                    <div id="cid" hidden="true">{{ auth.client_id }}</div>
                {% endif %}

            </div>

            <div class="col-md-4 col-lg-4">
                <h2> Teman Saya </h2>
                <div class="list-group" id="friend-list">
                    {% if friend_list %}
                        {% for friend in friend_list %}
                            <a class="list-group-item clearfix">
                                {{ friend.friend_name }} ({{ friend.npm }})
                            </a>
                        {% endfor %}
                        
                    {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada teman
                        </div>
                    {% endif %}
                </div>
                <form id="add-friend" action="#">
                    {% csrf_token %}
                    <label for="field_npm">npm</label>
                    <input id="field_npm" type="text" name="npm" class="form-control"/>
                    <label for="field_name">name</label>
                    <input id="field_name" type="text" name="name" class="form-control"/>
                    <button type="submit">Tambah</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

...
{% block script %}

<script>
    var addFriendFromList = function(nama, npm, alamat_mhs, tgl_lahir, prodi, angkatan){
        $.ajax({
            method: "POST",
            url: '{% url "lab-7:validate-npm" %}',
            data: {
                'npm': npm,
                
            },
            dataType: 'json',
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Mahasiswa dengan npm seperti ini sudah ada");
                }else{
                    addFriend(nama, npm, alamat_mhs, tgl_lahir, prodi, angkatan);
                }
            }
        });
    }

    var token = document.getElementById("token").innerHTML;
    var cid = document.getElementById("cid").innerHTML;

    // var cekAdd = (nama, npm, alamat_mhs, tgl_lahir, prodi, angkatan)=>{
    //     $.ajax({
    //         method: "POST",
    //         url: '{% url "lab-7:validate-npm" %}',
    //         data: {
    //             'npm': npm
    //         },
    //         dataType: 'json',
    //         success: function (data) {
    //             console.log(data)
    //             if (data.is_taken) {
    //                 alert("Mahasiswa dengan npm seperti ini sudah ada");
    //             }else{
    //                 addFriend(nama, npm, alamat_mhs, tgl_lahir, prodi, angkatan);
    //             }
    //         }
    //     });
    // }

    var addFriend = function(nama, npm, alamat_mhs, tgl_lahir, prodi, angkatan) {
        $.ajax({
            method: "POST",
            url: "{% url 'lab-7:add-friend' %}",
            data: { name: nama, npm: npm, alamat_mhs:alamat_mhs, tgl_lahir:tgl_lahir, prodi:prodi, angkatan:angkatan},
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success : function (data) {
                html = '<a class="list-group-item clearfix">' +
                     nama +" ("+ npm+")"+
                    '</a>';
                $("#friend-list").append(html)
            },
            error : function (error) {
                console.log(error)
                // alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
            }
        });
    };

    $("#add-friend").on("submit", function () {
        var npm = $("#field_npm").val();
        var corsProxy = 'https://cors-anywhere.herokuapp.com/';
        console.log(token)
        var obj = {'access_token' : token, 'client_id' : cid}
        var param = $.param(obj);
        $.ajax({
            method: "GET",
            url: corsProxy+'https://api-dev.cs.ui.ac.id/siakngcs/mahasiswa/'+npm+'/?'+param,
            success: function(data) {
                console.log(data)
                addFriend(data.nama, data.npm, data.alamat_mhs,
                          data.tgl_lahir,data.program[0].nm_org,data.program[0].angkatan
                )
            },
            error: function(error) {
                alert("\n\t\t\tNPM tidak valid:\n\n'Tidak ada mahasiswa dengan NPM tersebut'")
            }
        });
        event.preventDefault();
        $("#field_npm").val("");
        $("#field_name").val("");

    });

    $("#field_npm").change(function () {
        console.log( $(this).val() );
        npm = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "lab-7:validate-npm" %}',
            data: {
                'npm': npm
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Mahasiswa dengan npm seperti ini sudah ada");
                }
            }
        });
    });
</script>
{% endblock %}

